body{
	width: 940px;
	margin: auto;
}
.principal{
	width: 940px;
	align-content: center;
}
.section1{
	width: 720px;
	margin: auto;
	margin-top: 50px;
	text-align: center;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
}
p{
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 15px;
	font-weight: lighter;
	color: grey;
}
i{
	font-size: 36px;
	color: #A7FBD3;
}
.icon1{
	width: 240px;
	display: inline-block;
	padding: 100px 35px;
	text-align: center;
}
.icon2{
	width: 240px;
	display: inline-block;
	padding: 100px 35px;
	text-align: center;
}
.icon3{
	width: 240px;
	display: inline-block;
	padding: 100px 35px;
	text-align: center;
}
.section2{
	background-color: whitesmoke;
	padding: 80px 120px 80px 120px;
}
.section2 h2{
	font-size: 40px;
}
.section2 p{
	margin-bottom: 40px;
	font-size: 16px;
}
.section2 a{
	background-color: #3E194D;
	text-decoration: none;
	color: #A7FBD3;

	font-size: 18px;
	padding: 5px 15px;

	border: 10px solid #3E194D;
	border-radius: 5px;
}
.section2 a i{
	font-size: 16px;
}
.members{
	display: inline-block;
	padding-left: 40px;
	padding-bottom: 100px;
	width: 60%;
}
.section2 div{
	width: 30%;
	padding: 10px;
	display: inline-block;
}
footer{
	background-color: #3E194D;
	margin-top: 100px;
	padding: 80px 60px 80px 120px;

	height: 50%;
}
footer img{
	width: 100%;
}
#info{
	float: left;
	width: 30%;
	margin-right: 40px;
	display: inline-block;
}
#info h2{
	font-size: 28px;
	font-weight: bolder;
	color: white;
}
#info p{
	font-size: 11px;
}
form{
	background-color: white;
	border: 2px solid white;
	border-radius: 15px;

	padding: 60px 40px;
	width: 50%;

	display: inline-block;
}
#nome, #email, #assunto{
	display: block;
	margin: 20px 0;

	background-color: whitesmoke;
	border: 1px solid whitesmoke;

	width: 80%;
	height: 30px;
}
textarea{
	display: block;
	margin: 20px 0;
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	width: 80%;
	height: 100px;
}
form label{
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 15px;
	font-weight: lighter;
	color: grey;
}
fieldset{
	border: none;
}
#bottom{
	background-color: #3E194D;
	color: #A7FBD3;

	border: 3px solid #3E194D;
	border-radius: 5px;

	font-weight: bolder;
	cursor: pointer;

	padding: 5px 15px;
	display: block;
	margin: 20px 0;
}





